<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>We tell you what's the weather like, by your location. <br/>Click the home section to find out more</p>
        <img src="./img/weather-icon.gif"/>
        {{>footer}}
    </body>
</html>