<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>Hello there!</p>
        <p>We tell you what's the weather like, by your location. <br/>Click the home section to find out more</p>
        <p>This app uses data from:
            <a href="https://positionstack.com/" target="__blank">positionstack.com</a> 
            <a href="https://weatherstack.com/" target="__blank">darksky.com</a>
        </p>
        <img src="./img/weather-icon.gif"/>
        {{>footer}}
    </body>
</html>