<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css"/>
        
    </head>
    <body>
        {{>header}}
        <p>Use this website to get your weather!</p>
        {{>footer}}

        <form>
            <input placeholder="Type your location"/>
            <button type="submit">Find the weather</button>
        </form>
        
        <p id="result"></p>
        <p id="coords"></p>
        <p id="description"></p>
        <p id="temperature"></p>
        <p id="wind"</p>
        
        <script src="/js/app.js"></script>
    </body>
    
</html>